*{
  list-style:none;
}

body{
  
  
}
.container{
  /* width:224px;
  margin:0 auto; */
}

ul{
  padding:0;
  margin-left:10px;
}

input{
  
}

button{
  border:none;
  background:none;
}

.item__container{
  display: flex;
  justify-content: space-between;
  width:175px;
}

.item__name{
  margin-right:20px;
}

.item__handle{
  cursor: pointer;
}

.check{
  color:rgb(141, 196, 141);
}

.trash{
  color:rgb(166, 216, 231)
}

.true{
  text-decoration: line-through;
  color:rgb(83, 81, 81);
}